[submodule "vendor/tree-sitter-cli"]
	path = vendor/tree-sitter-cli
	url = https://github.com/jmitchell/tree-sitter-cli
[submodule "vendor/tree-sitter"]
	path = vendor/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
